/*not being used*/
/*Control the split*/
.split {
    height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  margin-top: 500;
  overflow: visible;
  padding-top: 20px;
  }

  /* Control the left side */
  .left {
    left: 0;
  }

  /* Control the right side */
  .right{
    right: 0;
  }